body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 form{
  min-height: 80vh;
  padding:50px;
}
label{
  display: block;
}
.typeSelect{
  margin-bottom: 50px;

}

.button{
  width:130px;
  font-weight:  600;
  border: none;
  padding: 10px;
  border-radius:  5px;
  color:#fff;
}
.green-btn{
  background-color: #7da2a9;
}
.green-btn:hover{
  background-color: white;
  color:#7da2a9;
}
.red-btn{
  background-color:#a9847d;
}
.red-btn:hover{
  background-color: white;
  color:#a9847d;
}


a{
  text-decoration: none;
}
a:hover{
  color: white;
}
.text-error{
  color: #987670
}